extends layout

block content
  h1 Hackathon Starter of Han
  p.lead A boilerplate for Node.js web applications.
  hr
  .row
    .col-sm-6
      h2 I Am
      p Golgula MeQuekQuek

      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Born of
      p The House of Quek
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 I Believe
      p In the eightfold circle of the glorg engines
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 I will
      p Destruct the filthy scum which threaten the empire of Goma-guum 
      p
        a.btn.btn-default(href='#', role='button') View details »