.matchLogo {
  font-size:30px;
  font-family: 'Holtwood One SC', serif;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
}

#chat {
  position: relative;
  height: 100%;
}

#chat .chatInput {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 100px;
  padding-left: 15px;
  padding-right: 15px;
}